<ion-back-button>Atras</ion-back-button>
<ion-header [translucent]="true">
  <ion-back-button>Atras</ion-back-button>
  <ion-toolbar>
    <ion-back-button>Atras</ion-back-button>
    <ion-title>→Calculadora mini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="cuerpo-calcu">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">calculadora</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div>
    <ion-card id="primera-parte">
      <ion-card-header>
        <ion-card-title>Calculadora</ion-card-title>
        <ion-card-subtitle>ingrese 2 numeros</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div>
          <ion-input>
            <ion-item>
              <ion-input label="Primer numero" placeholder="#"></ion-input>
            </ion-item>
          </ion-input>
        </div>
        <div>
          <ion-input>
            <ion-item>
              <ion-input label="Segundo numero" placeholder="#"></ion-input>
            </ion-item>
          </ion-input>
        </div>
        <div>
          
          <ion-button expand="full">Calcular</ion-button>

        </div>
        
      </ion-card-content>
      
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Resultados</ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content>
        <div><ion-header>Suma</ion-header>
          <ion-input>
            #
          </ion-input>
        </div>
        <div><ion-header>Resta</ion-header>
          <ion-input>
            #
          </ion-input>
        </div>
        <div><ion-header>Multiplicación</ion-header>
          <ion-input>
            #
          </ion-input>
        </div>
        <div><ion-header>Division</ion-header>
          <ion-input>
            #
          </ion-input>
        </div>
      </ion-card-content>
    </ion-card>
  </div>




</ion-content>
