ion-content.cuerpo-calcu{
    --background: #00fff2;
    --color: #ffffff;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
    --ion-background-color: #000000;
    --ion-color: #ffffff;
    --ion-padding-top: 20px;
    --ion-padding-bottom: 20px;
    --ion-padding-left: 20px;
    --ion-padding-right: 20px;
    background: #000000;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    ion-background-color: #000000;
    ion-color: #ffffff;
    ion-padding-top: 20px;
    ion-padding-bottom: 20px;
    ion-padding-left: 20px;
    ion-padding-right: 20px;
}